<section class="pt-0">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-sm-12">
        <a href="#"">
          <img class="img-fluid mt-5 mb-4" src="{{Site.logo.url}}" alt="{{Site.logo}}" />
        </a>
        <p class="w-lg-75 text-gray">Social media validation business model canvas graphical user interface launch party creative facebook iPad twitter.</p>
      </div>
      <div class="col-lg-2 col-sm-4">
        <h3 class="fw-bold fs-1 mt-5 mb-4">Landings</h3>
        <ul class="list-unstyled">
          <li class="my-3 col-md-4"><a href="#">Home</a></li>
          <li class="my-3"><a href="#">Products</a></li>
          <li class="my-3"><a href="#">Services</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-4">
        <h3 class="fw-bold fs-1 mt-5 mb-4">Company</h3>
        <ul class="list-unstyled">
          <li class="my-3"><a href="#">Home</a></li>
          <li class="my-3"><a href="#">Careers</a><span class="py-1 px-2 rounded-2 bg-success fw-bold text-dark ms-2">Hiring!</span></li>
          <li class="my-3"><a href="#">Services</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-4">
        <h3 class="fw-bold fs-1 mt-5 mb-4">Resources</h3>
        <ul class="list-unstyled">
          <li class="mb-3"><a href="#">Home</a></li>
          <li class="mb-3"><a href="#">Products</a></li>
          <li class="mb-3"><a href="#">Services</a></li>
        </ul>
      </div>
    </div>
    <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> <a rel="nofollow" href="#top">{{ Site.name }}</a>. All Rights Reserved.
      Powered by <a rel="nofollow" href="#top">{{ Site.name }}</a>
    </p>


  </div><!-- end of .container-->
</section>