{% extends "base.html" %}{% load static %} {% block title %}Home{% endblock %} {% block content %}


<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-dark">
    <div class="container">
        <p class="text-center text-light">Onze cijfers</p>
        <h1 class="text-center text-white w-lg-75 mx-auto fs-xl-6 fs-lg-4 fs-3">Youtube Video Boost</h1>
        <div class="row mt-5">
        <div class="col-md-4 col-sm-6 text-center">
            <h1 class="text-success fs-5 fs-md-6 fs-lg-7 fs-xl-9">13</h1>
            <p class="text-light fs-2">Projecten</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <h1 class="text-success fs-5 fs-md-6 fs-lg-7 fs-xl-9">15</h1>
            <p class="text-light fs-2">Bedrijven</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <h1 class="text-success fs-5 fs-md-6 fs-lg-7 fs-xl-9">29</h1>
            <p class="text-light fs-2">Tevreden klanten</p>
        </div>
        </div>
    </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->
   

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-5">
    <div class="container">
        <h1 class="text-center fs-lg-7 fs-md-4 fs-3 text-dark mb-5">Ontdek de Kracht van YouTube-video Boost</h1>
        <div class="row mt-5 gx-xl-7">

            <div class="col-lg-7 col-md-7 col-sm-12 mb-5 mb-md-0 text-center text-md-start h-auto">
                <div class="d-flex justify-content-between flex-column h-100">
                    <h5 class="mt-1 mb-3 fs-0 fs-md-1">
                        Wilt u uw YouTube-video's een boost geven? Een gebrek aan zichtbaarheid kan leiden tot een lage betrokkenheid en weinig views. Onze YouTube Video Boost verbetert de zichtbaarheid en het bereik van uw video's, wat resulteert in meer kijkers en abonnees.
                    </h5>
                    <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-2 mt-3">
                        <p class="fw-bold mb-0 text-black">Verhoog Uw Videoprestaties</p>
                    </div>
                    <h5 class="mt-1 mb-3 fs-0 fs-md-1">
                        Wilt u uw online zichtbaarheid vergroten en meer kijkers aantrekken? Met onze YouTube Video Boost service kunt u meer organisch verkeer naar uw video's genereren en uw online aanwezigheid versterken. Onze geavanceerde technologieën zorgen ervoor dat uw video's hoger in de zoekresultaten van YouTube verschijnen, waardoor meer mensen uw video's kunnen vinden en bekijken.
                    </h5>
                    
                    <img class="w-md-100 w-75 rounded-2" src="{% static 'assets/img/blog/1.png' %}" alt="" />
                    
                    <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-2 mt-3">
                        <p class="fw-bold mb-0 text-black">Boost Uw Videoprestaties</p>
                    </div>
                    <h5 class="mt-1 mb-3 fs-0 fs-md-1">
                        Onze YouTube Video Boost maakt gebruik van geavanceerde technologie om echte kijkers naar uw video's te brengen. YouTube beschouwt deze kijkers als authentiek, wat leidt tot een hogere betrokkenheid en meer views voor uw video's. Hoewel dit proces tijd kan vergen, zal het uiteindelijk resulteren in meer organisch verkeer en een grotere groei van uw kanaal. Download nu ons voorbeeldrapport of vraag een gratis offerte aan en verbeter vandaag nog uw online prestaties.
                    </h5>
                </div>
            </div>
        
            <!-- Column 2: col-lg-5, col-md-5, col-sm-12 -->
            <div class="col-lg-5 col-md-5 col-sm-12 mb-5 mb-md-0 text-center text-md-start h-auto">
                <img class="w-md-100 w-75 rounded-2" src="{% static 'assets/img/blog/1.png' %}" alt="" />
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start gap-3">
                    <a href="{% url 'Pages:other_scrapers' %}">
                        <p class="fw-bold mb-0 text-black">Andere Service</p>
                    </a>
                    <p class="mb-0">YouTube-video Boost</p>
                </div>
                
            
                <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-2 mt-3">
                    <p class="fw-bold mb-0 text-black">In het kort</p>
                </div>
                <h5 class="mt-1 mb-3 fs-0 fs-md-1">
                    Ontdek onze YouTube Video Boost: verhoog de zichtbaarheid en het bereik van uw video's. Meer kijkers en abonnees wachten op u. Met geavanceerde technologieën trekken we echte kijkers aan, wat resulteert in hogere betrokkenheid en meer views.
                </h5>

                <h5 class="mt-1 mb-3 fs-0 fs-md-1">
                    Neem vandaag nog contact op voor een gratis offerte of download ons voorbeeld om te zien wat u kunt krijgen.
                </h5>
                <a href="#form_status">
                    <button class="btn btn-success text-dark fs-1">gratis offerte</button>
                </a>

                

                <section>
                    <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-2 mt-3">
                        <p class="fw-bold mb-0 text-black">Overzicht Prijstabel</p>
                    </div>
                    <div class="table-responsive align-items-center justify-content-center justify-content-md-start gap-2 mt-3">
                        <table class="table table-bordered table-hover rounded-2">
                            <thead>
                                <tr>
                                    <th scope="col">Naam</th>
                                    <th scope="col">Aantal</th>
                                    <th scope="col">Kost per stuk</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for service in services %}
                                    <tr>
                                        <td>{{ service.name }}</td>
                                        <td>{{ service.get_range  }}</td>
                                        <td>€ {{ service.cost_per_item }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->



<section class="py-1">
    <div class="container bg-dark overflow-hidden rounded-2">
        <div class="bg-holder" style="background-image:url({% static 'assets/img/promo/promo-bg.png'%});"></div>
        <!--/.bg-holder-->
        <form method="post">
            {% csrf_token %}
            <div class="px-1 py-5 position-relative">
                <h1 class="text-center w-lg-75 mx-auto fs-lg-6 fs-md-4 fs-3 text-white">Bekijk ons voorbeeld</h1>
                <div class="row justify-content-center mt-5">
                    <div class="col-auto w-100 w-lg-50">
                        <input class="form-control mb-2 border-light fs-1" type="email" name="email" placeholder="E-mail address" required>
                    </div>
                    <div class="col-auto mt-2 mt-lg-0">
                        <button class="btn btn-success text-dark fs-1" type="submit" name="download_file">Download voorbeeld</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>





<!-- Import Vraag offerte aan section -->
{% include 'include/_offerte_aanvraag.html' %}


<!-- Import testimonial section -->
{% include 'include/_testimonial.html' %}


{% endblock %}
