{% load static %}

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-dark pt-6">
  <div class="container">
    <div class="col-md-6">
      <h1 class="text-white fs-lg-5 fs-md-3 fs-2">
          Krachtige Groei: Ervaringen van Tevreden Klanten
      </h1>
    </div>
    <div class="swiper mt-7">
      <div class="swiper-container swiper-theme" data-swiper='{"slidesPerView":1,"breakpoints":{"640":{"slidesPerView":1,"spaceBetween":10},"768":{"slidesPerView":2,"spaceBetween":20},"1025":{"slidesPerView":3,"spaceBetween":40}},"spaceBetween":10,"grabCursor":true,"pagination":{"el":".swiper-pagination","clickable":true},"navigation":{"nextEl":".swiper-button-next","prevEl":".swiper-button-prev"},"loop":true,"freeMode":true,"loopedSlides":3}'>
        <div class="swiper-wrapper">
          <div class="swiper-slide bg-white p-5 rounded-3 h-auto">
            <div class="d-flex flex-column justify-content-between h-100">
              <h4 class="text-black">
                  “Onze marketingstrategieën zijn getransformeerd dankzij de inzichten van {{ Site.name }}.”
              </h4>
              <div class="d-flex align-items-center gap-3 mt-5">
                  <img src="{% static 'assets/img/review/1.png' %}" alt="" />
                <div class="text-black">
                  <p class="mb-0 fw-bold text-dark">Eva</p><small>Marketing</small>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide bg-white p-5 rounded-3 h-auto">
            <div class="d-flex flex-column justify-content-between h-100">
              <h4 class="text-black">“De SEO-boost van {{ Site.name }} heeft geleid tot een merkbare groei van onze online aanwezigheid en meer kansen voor leadgeneratie.”</h4>
              <div class="d-flex align-items-center gap-3 mt-5">
                  <img src="{% static 'assets/img/review/2.png' %}" alt="" />
                <div class="text-black">
                  <p class="mb-0 fw-bold text-dark">Tim</p><small>Analist</small>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide bg-white p-5 rounded-3 h-auto">
            <div class="d-flex flex-column justify-content-between h-100">
              <h4 class="text-black">“De inzichten die we hebben verkregen van {{ Site.name }} hebben ons geholpen om onze marketinguitgaven effectiever te beheren.”</h4>
              <div class="d-flex align-items-center gap-3 mt-5">
                  <img src="{% static 'assets/img/review/3.png' %}" alt="" />
                <div class="text-black">
                  <p class="mb-0 fw-bold text-dark">Lars</p><small>Sales</small>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide bg-white p-5 rounded-3 h-auto">
              <div class="d-flex flex-column justify-content-between h-100">
                <h4 class="text-black">“De SEO-boost van {{ Site.name }} heeft geleid tot een merkbare groei van onze online aanwezigheid en meer kansen voor leadgeneratie.”</h4>
                <div class="d-flex align-items-center gap-3 mt-5">
                    <img src="{% static 'assets/img/review/2.png' %}" alt="" />
                  <div class="text-black">
                    <p class="mb-0 fw-bold text-dark">Tim</p><small>Analist</small>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="swiper-button-next"><span class="fas fa-arrow-right fs-lg-3 fs-2"></span></div>
      <div class="swiper-button-prev"><span class="fas fa-arrow-left fs-lg-3 fs-2"></span></div>
    </div>
  </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->