{% extends "base.html" %}{% load static %} {% block title %}Home{% endblock %} {% block content %}


<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-dark text-center py-9">
<div class="container">
    <p class="text-light fs-1">Over Ons</p>
    <div class="col-12 col-md-7 mx-auto">
    <h1 class="text-white fs-lg-7 fs-md-4 fs-3 my-4">Betrouwbare Data-oplossingen</h1>
    </div>
    <p class="w-md-50 text-light mx-auto"> Wij zijn gepassioneerd over het leveren van hoogwaardige dataoplossingen die aansluiten op uw behoeften.</p>
</div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->



<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pb-0">
<div class="container">
    <div class="gallery-wraper">
    <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/1.png' %}" alt="" /></div>
    <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/2.png' %}" alt="" /></div>
    <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/3.png' %}" alt="" /></div>
    <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/4.png' %}" alt="" /></div>
    <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/5.png' %}" alt="" /></div>
    </div>
    <div class="px-xl-8 px-md-5 px-3 py-8">
    <p class="fs-1">Onze Geschiedenis</p>
    <h1 class="fs-lg-6 fs-md-4 fs-3 my-4">Onze Data-reis: Van Uitdaging tot Oplossing</h1>
    <p class="fs-1">Onze reis begon met een uitdaging die we zelf hebben ervaren: het vinden van waardevolle data om onze besluitvorming te ondersteunen. Dit inzicht leidde tot het besef dat betrouwbare informatie vaak moeilijk te verkrijgen is. Deze ervaring heeft ons geïnspireerd om een oplossing te ontwikkelen die bedrijven eenvoudig toegang biedt tot hoogwaardige en betrouwbare data. Nu bieden we een platform aan dat onze klanten snel en efficiënt helpt om de informatie te verkrijgen die ze nodig hebben voor groei.</p>
    </div>
</div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->



<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-dark">
<div class="container">
    <p class="text-center text-light">Onze cijfers</p>
    <h1 class="text-center text-white w-lg-75 mx-auto fs-xl-6 fs-lg-4 fs-3">Het verhaal van onze cijfers</h1>
    <div class="row mt-5">
    <div class="col-md-4 col-sm-6 text-center">
        <h1 class="text-success fs-5 fs-md-6 fs-lg-7 fs-xl-9">179</h1>
        <p class="text-light fs-2">Projecten</p>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
        <h1 class="text-success fs-5 fs-md-6 fs-lg-7 fs-xl-9">63</h1>
        <p class="text-light fs-2">Bedrijven</p>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
        <h1 class="text-success fs-5 fs-md-6 fs-lg-7 fs-xl-9">258</h1>
        <p class="text-light fs-2">Tevreden klanten</p>
    </div>
    </div>
</div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->



<!-- ============================================-->
<!-- <section> begin ============================-->
<section>
<div class="container">
    <div class="px-xl-8 px-md-5 px-3">
    <p class="text-gray fs-1">Ons team</p>
    <h1 class="text-black fs-lg-6 fs-md-4 fs-3 my-4">Het leiderschapsteam</h1>
    <p class="text-gray fs-1 w-lg-75">Pioniers in dataverzameling en -analyse, met een passie voor innovatie en groei.</p>
    </div>
    <div class="row mt-7">
    <div class="col-md-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
        <a href="#"><img class="img-fluid" src="{% static 'assets/img/team/1.png' %}" alt="" /></a>
        <h1 class="fs-3 mt-3">Erik de Vries</h1>
        <p class="fs-1">Hoofd Data-analyse</p>
    </div>
    <div class="col-md-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
        <a href="#"><img class="img-fluid" src="{% static 'assets/img/team/2.png' %}" alt="" /></a>
        <h1 class="fs-3 mt-3">Mark van Dijk</h1>
        <p class="fs-1">Data Engineer</p>
    </div>
    <div class="col-md-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
        <a href="#"><img class="img-fluid" src="{% static 'assets/img/team/3.png' %}" alt="" /></a>
        <h1 class="fs-3 mt-3">Jan Bakker</h1>
        <p class="fs-1">Scraping Specialist</p>
    </div>
    </div>
</div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->



<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-dark">
<div class="container">
    <div class="px-xl-8 px-md-5 px-3">
    <p class="text-light fs-1">Onze kernwaarden</p>
    <h1 class="text-white fs-lg-6 fs-md-4 fs-3 my-lg-4 my-3">Waar we in geloven</h1>
    <p class="text-light w-lg-75 fs-1">Bij ons draait alles om betrouwbaarheid, kwaliteit en klantgerichtheid. We geloven in eerlijkheid, transparantie en het leveren van hoogwaardige dataoplossingen.</p>
    <div class="row mt-5">
        <div class="col-md-3">
            <img class="img-fluid" src="{% static 'assets/img/values/1.png' %}" alt="" />
        </div>
        <div class="col-md-9 mt-2 mb-md-0">
        <h1 class="text-white fs-2 fs-lg-3 my-2">Betrouwbaarheid</h1>
        <p class="text-light fs-1">We streven naar nauwkeurigheid en betrouwbaarheid in al onze dataleveringen, zodat onze klanten op ons kunnen vertrouwen voor cruciale besluitvorming.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <img class="img-fluid" src="{% static 'assets/img/values/2.png' %}" alt="" />
        </div>
        <div class="col-md-9 mt-2 mb-md-0">
        <h1 class="text-white fs-2 fs-lg-3 my-2">Kwaliteit</h1>
        <p class="text-light fs-1">We streven naar de hoogste kwaliteitsnormen in al onze dataproducten, zodat onze klanten altijd toegang hebben tot de meest waardevolle en relevante informatie.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <img class="img-fluid" src="{% static 'assets/img/values/3.png' %}" alt="" />
        </div>
        <div class="col-md-9 mt-2 mb-md-0">
        <h1 class="text-white fs-2 fs-lg-3 my-2">Klantgerichtheid</h1>
        <p class="text-light fs-1">We zijn toegewijd aan het voldoen aan de behoeften van onze klanten en streven naar uitmuntendheid in klantenservice, om ervoor te zorgen dat onze klanten altijd tevreden zijn.</p>
        </div>
    </div>
    </div>
</div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->




{% endblock %}
