{% extends "base.html" %}{% load static %} {% block title %}Home{% endblock %} {% block content %}




<!-- ============================================-->
<!-- <section> begin ============================-->
<section>
    <div class="container"><img class="img-fluid" src="{% static 'assets/img/offer/3.png' %}" alt="" />
        <div class="row mt-5 align-items-center">
        <div class="col-md-6">
            <h2 class="fs-md-4 fs-3 pt-3">We connect our customers with the best, and help them keep up-and stay open.</h2>
        </div>
        <div class="col-md-6">
            <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item"></div>
            <h2 class="accordion-header border-bottom" id="srgdgfdgdgg45"><button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse" data-bs-target="#srgdgfdgdgg45tyuu" aria-expanded="false" aria-controls="srgdgfdgdgg45"><span class="fs-1 pe-3">We connect our customers with the best?</span></button></h2>
            <div class="accordion-collapse collapse" aria-labelledby="srgdgfdgdgg45" data-bs-parent="#accordionFlushExample" id="srgdgfdgdgg45tyuu">
                <div class="accordion-body">
                <p class="mb-0">Placeholder content for this accordion, which is intended to demonstrate the accordion-flush class. This is the first item's accordion body.</p>
                </div>
            </div>
            <div class="accordion-item"></div>
            <h2 class="accordion-header border-bottom" id="sxvdgrfhfh276"><button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse" data-bs-target="#srgdgfdgdgg45tyuu5ghj" aria-expanded="false" aria-controls="sxvdgrfhfh276"><span class="fs-1 pe-3">Android research &amp; development rockstar? </span></button></h2>
            <div class="accordion-collapse collapse" aria-labelledby="sxvdgrfhfh276" data-bs-parent="#accordionFlushExample" id="srgdgfdgdgg45tyuu5ghj">
                <div class="accordion-body">
                <p class="mb-0">Placeholder content for this accordion, which is intended to demonstrate the accordion-flush class. This is the first item's accordion body.</p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->



<!-- Import testimonial section -->
{% include 'include/_testimonial.html' %}


{% endblock %}
